#=========================================================================
# Mentor Calibre Fill
#=========================================================================
# Author : Christopher Torng
# Date   : April 6, 2020
#

name: mentor-calibre-fill

#-------------------------------------------------------------------------
# Inputs and Outputs
#-------------------------------------------------------------------------

inputs:
  - design.gds
  - adk

outputs:
  - fill.gds

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  # Generate the dummy fill GDS
  - envsubst < fill.runset.template > fill.runset
  - calibre -gui -drc -batch -runset fill.runset
  - mkdir -p outputs && cd outputs
  - ln -sf ../{gds_prefix}{design_name}.gds fill.gds

#-------------------------------------------------------------------------
# Parameters
#-------------------------------------------------------------------------

parameters:
  design_name: undefined
  # Use the rule deck "inputs/adk/${fill_rule_deck}"
  fill_rule_deck: calibre-fill.rule
  # The output fill gds will have cells prefixed with this name
  gds_prefix: fill_

#-------------------------------------------------------------------------
# Debug
#-------------------------------------------------------------------------

debug:
  - calibredrv -m outputs/fill.gds \
               -l inputs/adk/calibre.layerprops

#-------------------------------------------------------------------------
# Assertions
#-------------------------------------------------------------------------

preconditions:

  - assert Tool( 'calibre' )
  - assert File( 'inputs/adk' )
  - assert File( 'inputs/design.gds' )

postconditions:

  - assert File( 'outputs/fill.gds' )


