*drcRulesFile: ${calibre_drc_filled_rulesfile}
*drcRunDir: ${calibre_drc_filled_rundir}
*drcLayoutPaths: ${calibre_drc_filled_layoutpaths}
*drcLayoutPrimary: ${calibre_drc_filled_layoutprimary}
*drcResultsFile: drc.results
*drcSummaryFile: drc.summary
*cmnShowOptions: 1
*cmnTranscriptFile: ${calibre_drc_filled_transcriptfile}
*cmnTranscriptEchoToFile: 1
*drcIncludeCmdsType: SVRF
*cmnRunMT: 1
*cmnRunHyper: 1
