#=========================================================================
# construct.py
#=========================================================================

import os

from mflowgen.components import Graph, Step

def construct():

  g = Graph()

  #-----------------------------------------------------------------------
  # Create nodes
  #-----------------------------------------------------------------------

  this_dir = os.path.dirname( os.path.abspath( __file__ ) )

  push = Step( this_dir + '/mock-push' )
  dut  = Step( '{path}'  )  # Step under test

  #-----------------------------------------------------------------------
  # Adjust push node
  #-----------------------------------------------------------------------

  push.extend_outputs( dut.all_inputs() )

  push.update_params( {{
    'cmd' : '"' + ' && '.join( [ 'touch outputs/' + _ \
                              for _ in dut.all_inputs() ] ) + '"'
  }} )

  #-----------------------------------------------------------------------
  # Parameters
  #-----------------------------------------------------------------------

  parameters = {{}}

  #-----------------------------------------------------------------------
  # Graph -- Add nodes
  #-----------------------------------------------------------------------

  g.add_step( push )
  g.add_step( dut  )

  #-----------------------------------------------------------------------
  # Graph -- Add edges
  #-----------------------------------------------------------------------

  g.connect_by_name( push, dut )

  #-----------------------------------------------------------------------
  # Parameterize
  #-----------------------------------------------------------------------

  g.update_params( parameters )

  return g


